// --------------------------------------------------
// Layout
// --------------------------------------------------

// Layout rules
// -------------------------

.main {
	width: 100%;
}

.container {

	padding-left:18.5rem;
	padding-right: 18.5rem; 
}
