// --------------------------------------------------
// Variables Global
// --------------------------------------------------

// Colors
// -------------------------

// Greens
$green:#3a9c61;
$greenShade:#296e44;
// Blues
$blue: #0071e0;
$darkblue: #323a45;
// Grays
$black: #000;
$gray:#f2f2f2;
$pastel:#c2c0ba;
$white: #fff;
$tint: #65615d;
// Reds
$pink: #ff3366;
$beige:#f7f7f7;
// Brand Colors
$prime: $blue;
$second:$gray;
// Link Colors
$linkColor:$prime;
// Content Colors
$contentColor:#777777;
// Font Families
// -------------------------

// Font 1

// Font 2

// Font Sizes
// -------------------------

// Line heights
// -------------------------




